
<!DOCTYPE html>
<html>
  <head>
      <title>IQT</title>
      <link rel = "icon" type = "image/png" href = "logo.png" />
    <style>
        #messageBoard {
            padding: 20px 20px 20px 20px;
        }
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>

      <%- include navbar %>
    <h3 id='note'></h3>
    <ul id="messages"></ul>
    <!-- <div id="messageBoard">
        <% for (var t=0;t<messages.length;t++) { %>
        <h3><%= messages[t].messageBy %> : <%= messages[t].message %></h3>
        <br />
        <% } %>
    </div> -->
    <br/>
    <br/>
    <br/>
    <form action="/chat" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..."/><button>Send</button>
    </form>
    <input type="hidden" name="username1" id="user" value="<%= username %>" >
    <script>
            var socket = io.connect('https://iqt.herokuapp.com',{secure: true, reconnect: true, rejectUnauthorized : false });
            // var socket = io();
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                if ($('#txt').val().trim().length === 0) {
                return false;
             }

                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
              
                $('#messages').append($('<li>').html(username));
            });

            socket.on('note', function(note) {
                $('#note').html('Note: This Chat Will Be Saved');
            });
            socket.on('pre', function(chats) {
                $('#messages').append($('<li>').html(chats));
            });
            // ask username
            var username = document.getElementById("user").value;

            // for(var i=0 ;i<3;i++){

            //   socket.emit($("#messages").append($('<li>').html ("vijay vijay") ));
            // }

            socket.emit('username', username);
    </script>
  </body>
</html>
