<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= typeof user == undefined ? ' ' : user %>
    <%= typeof score == undefined ? '0' : score %>

    <form method="get" action="/test/start/cpp "><input type="submit" value="Cpp Test "></form>
    <form method="get" action="/test/start/java "><input type="submit" value="Java Test "></form>
</body>
</html>