<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IQT</title>
  <link rel = "icon" type = "icon/png" href = "../public/logo3.png" sizes="16*16" />
</head>
<style src="../public/st.css">
  
</style>
<body>
    <%- include navbar %>
  <h1 class="sss" >Test Your IQ Levels</h1>
  </br>  </br>  </br>  </br>  </br>
<svg width="200" height="200"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
  <image xlink:src="../public/logo3.png" height="200" width="200"/>
</svg>  <a href="/login" class="ppp">login</a>&nbsp;
  <a href="/register" class="ppp">register</a>
  <a href="/admin" class="ppp">LoginAsAdmin</a>
</body>
</html>