<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%- include navbar %>
    <center>
        </br></br></br></br></br>
        <a href="/test/start">start exam</a>
       <form method="get" action="/test/start">

        <input type="submit" value="Start Exam">
       </form>
    </center>
</body>
</html>