<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IQT
            <link rel = "IQT" type = "image/png" href = "../public/Capture.PNG" />
        </title>
    <style src="../public/st.css">
  
    </style>
</head>
<body>
        <%- include navbar %>
    </br></br></br>
        <h1 style="text-align: center"">****YOUR SCORE****</h1>
    <h1 style="text-align: center"><%= mark%></h1>
</br></br></br></br></br>
    <a href="/leaderboard/"><p style="text-align: center">See Your Rank In LeaderBoard</p></a>
</body>
</html>